.bgheader{
	background: url(../img/bg/natural2.png);
	margin-top: 15px;
}

.bgcontainer{
	background: url(../img/bg/natural.png);	
}


*{
	font-family: 'Lato', sans-serif;
	font-size: 300;
}

body{
	padding-top: 50px;
	background: gray
}

section{
	padding-top: 25px;
	padding-bottom: 15px;
	min-height: 100vh;
}

section#contato{
	min-height: auto
}
section#localizacao{
	min-height: auto
}

footer{
	padding-top: 30px;
	padding-bottom: 10px;
	background: url(../img/tema.jpg);
}


.divslider{
	background: url(../img/bg/natural.png);
	padding-bottom: 15px;
}

.div_colorida{
	background: url(../img/tema.jpg);
	width: 100%;
	height: 100%;
}

.servicos_item *{
	text-align: center;
}

.servicos_item h4{
	margin-top: 40px;
	font-size: 25px;
}

img.grayscale {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
img.grayscale:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}


.servicos__btn_todososservicos{
	margin-top: 25px;
}

.portfolio_item{
	background: white;
}

.portfolio_item h4{
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
}

.contato textarea{
	height: 170px;
}
.contato .aviso{
	height: 15px;
}
.section_interna{
	padding-top: 0px;
}
.form-login{
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 10px;
	background: #eee;
}

.form-login input{
	margin-bottom: 10px
}
